<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<br>
	
	<div class="container">
	   <div class="row">
	      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
	           <h1 class="text-center" th:text="${titulo}"></h1>
	           <div class="card-body">
	              <form th:action="@{/form}" th:object="${empleado}" method="post">
	                 <input type="hidden" th:field="*{id}" th:value="${empleado.id}"/>
	                 <div class="form-group">
	                    <label>Nombre : </label>
	                    <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small> 
	                 </div>
	                 <div class="form-group">
	                    <label>Apellido : </label>
	                    <input type="text" th:field="*{apellido}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small> 
	                 </div>
	                 <div class="form-group">
	                    <label>Email : </label>
	                    <input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small> 
	                 </div>
	                 <div class="form-group">
	                    <label>Fecha : </label>
	                    <input type="date" th:field="*{fecha}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small> 
	                 </div>
	                 <div class="form-group">
	                    <label>Teléfono : </label>
	                    <input type="number" th:field="*{telefono}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small> 
	                 </div>
	                 <div class="form-group">
	                    <label>Salario : </label>
	                    <input type="number" th:field="*{salario}" class="form-control" th:errorclass="'form-control alert-danger'"/>
	                    <small class="form-text text-danger" th:if="${#fields.hasErrors('salario')}" th:errors="*{salario}"></small> 
	                 </div>
	                 <div class="form-group">
	                    <label>Sexo : </label>
	                    <select class="form-control" th:field="*{sexo}">
	                        <option th:value='M'>Masculino</option>
	                        <option th:value='F'>Femenino</option>
	                        <option th:value='Otro'>Otro</option>
	                    </select>
	                 </div>
	                 <div class="box-footer"> 
	                     <input type="submit" value="Guardar" class="btn btn-primary">
	                 </div>
	              </form>
	           </div>
	      </div>
	   </div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>