<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout :: head">
<meta charset="utf-8">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="py-4 ml-5 mr-5">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-primary">Agregar empleado</a>

					<a sec:authorize="hasRole('ADMIN')" th:href="@{/exportarPDF}"
						class="btn btn-secondary">Exportar a PDF</a> <a
						sec:authorize="hasRole('ADMIN')" th:href="@{/exportarExcel}"
						class="btn btn-success">Exportar a Excel</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Email</th>
							<th>Fecha</th>
							<th>Telefono</th>
							<th>Sexo</th>
							<th>Salario</th>
							<th>Detalles</th>
							<th sec:authorize="hasRole('ADMIN')">Editar</th>
							<th sec:authorize="hasRole('ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="empleado : ${empleados}">
							<td th:text="${empleado.id}"></td>
							<td th:text="${empleado.nombre}"></td>
							<td th:text="${empleado.apellido}"></td>
							<td th:text="${empleado.email}"></td>
							<td th:text="${empleado.fecha}"></td>
							<td th:text="${empleado.telefono}"></td>
							<td th:text="${empleado.sexo}"></td>
							<td th:text="${empleado.salario}"></td>
							<td><a class="btn btn-info btn-sm"
								th:href="@{/ver/} + ${empleado.id}">Detalles</a></td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-warning btn-sm"
								th:href="@{/form/} + ${empleado.id}">Editar</a></td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-danger btn-sm"
								th:href="@{/eliminar/} + ${empleado.id}"
								onclick="return confirm('¿Estás seguro de eliminar al empleado?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>